Library/
Temp/
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/
Cliente/apk.apk
Cliente/UnityPlayer.dll
Cliente/
Assets/Photon/PhotonNetworking-Documentation.chm
Assets/Photon/PhotonChat/Code/
Assets/Photon/PhotonChat/Demos/DemoChat/ChannelSelector.cs.meta
Assets/Photon/PhotonChat/
PhotonChat.csproj
Assets/
.vsconfig
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
PhotonRealtime.csproj
PhotonUnityNetworking.csproj
PhotonUnityNetworking.Demos.csproj
PhotonUnityNetworking.Editor.csproj
PhotonUnityNetworking.Utilities.csproj
PhotonUnityNetworking.Utilities.Culling.Editor.csproj
PhotonUnityNetworking.Utilities.PhotonPlayer.Editor.csproj
PunDemos.DemoHubEditor.csproj
PunDemos.DemoSlotcarEditor.csproj
.vs/TFG/FileContentIndex/35d232aa-5442-41e6-97c2-7fe1e78b696c.vsidx
.vs/TFG/FileContentIndex/410c6006-e1b6-4507-b2f3-8959f137eed6.vsidx
.vs/TFG/FileContentIndex/6e56a652-f3d2-40dc-a304-4a960fa27266.vsidx
.vs/TFG/FileContentIndex/9931cf50-829a-4d90-8e65-36e01e1b4fba.vsidx
.vs/TFG/FileContentIndex/a6c0adc3-06a9-46c8-bec9-e7c83a19cd00.vsidx
.vs/TFG/v17/.suo
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/PhotonChat.csproj.AssemblyReference.cache
obj/Debug/PhotonRealtime.csproj.AssemblyReference.cache
obj/Debug/PhotonUnityNetworking.csproj.AssemblyReference.cache
obj/Debug/PhotonUnityNetworking.Demos.csproj.AssemblyReference.cache
obj/Debug/PhotonUnityNetworking.Editor.csproj.AssemblyReference.cache
obj/Debug/PhotonUnityNetworking.Utilities.csproj.AssemblyReference.cache
obj/Debug/PhotonUnityNetworking.Utilities.Culling.Editor.csproj.AssemblyReference.cache
obj/Debug/PhotonUnityNetworking.Utilities.PhotonPlayer.Editor.csproj.AssemblyReference.cache
obj/Debug/PunDemos.DemoHubEditor.csproj.AssemblyReference.cache
obj/Debug/PunDemos.DemoSlotcarEditor.csproj.AssemblyReference.cache
ProjectSettings/BurstAotSettings_Android.json
ProjectSettings/BurstAotSettings_StandaloneWindows.json
ProjectSettings/CommonBurstAotSettings.json
UserSettings/Search.index
.vs/TFG/FileContentIndex/328c0350-0385-45d9-8c28-f441935d7d6e.vsidx
.vs/TFG/FileContentIndex/63bcf1fe-520f-4cc5-aae2-269b3eda449d.vsidx
.vs/TFG/FileContentIndex/b94c3811-b057-480e-9f78-057152623365.vsidx
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
.vs/TFG/FileContentIndex/3ebdb1b3-3948-4ec9-915e-d3f4145a3ae3.vsidx
.vs/TFG/FileContentIndex/d581334f-932b-45bb-8496-feed0e40f14e.vsidx
